* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.status {
  display: flex;
  justify-content: space-around;
}

.status>div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-top: 10px;
  border-radius: 12px 12px 0 0;
  transition: .4s;
}

.status>div:hover {
  background-color: rgba(189, 189, 189, 0.3);
}

.status h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
}

.active-page {
  background-color: rgba(47, 128, 237, 1);
  width: 100%;
  border: 2px solid rgba(47, 128, 237, 1);
  border-radius: 50px 50px 0 0;
}

.status-bar {
  width: 100%;
  border: 1px solid rgba(189, 189, 189, 1);
}

.add-container {
  display: flex;
  gap: 20px;
  width: 600px;
  margin-bottom: 20px;
}

.add-container input {
  width: 80%;
  height: 50px;
  border: 1px solid rgba(189, 189, 189, 1);
  padding: 0 10px;
  border-radius: 12px;
  outline: none;
}

.add-btn {
  width: 20%;
  height: 50px;
  background-color: rgba(47, 128, 237, 1);
  border: 1px solid rgba(47, 128, 237, 1);
  border-radius: 12px;
  color: #efefef;
  cursor: pointer;
  transition: .4s;
}

.add-btn:hover {
  background-color: rgba(47, 100, 255, 1)
}

.todo-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.todo-container input {
  height: 20px;
  width: 20px;
}

.oneTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oneTask i {
  color: rgba(189, 189, 189, 1);
  cursor: pointer;
  transition: .4s;
}

.oneTask i:hover {
  padding-right: 5px;
}

label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.del-container {
  display: flex;
  width: 600px;
  margin-top: 20px;
  justify-content: flex-end;
}

.del-container button {
  width: 100px;
  height: 40px;
  background-color: rgba(235, 87, 87, 1);
  border: 1px solid rgba(235, 87, 87, 1);
  border-radius: 4px;
  color: #efefef;
  cursor: pointer;
  transition: .4s;
}

.del-container button:hover {
  background-color: rgba(255, 50, 50, 1)
}

@media (max-width: 767px) {
  nav {
    width: 80%;
  }

  .add-container {
    width: 80%;
  }

  .todo-container {
    width: 80%;
  }

  .del-container {
    width: 80%;
  }
}